
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listlsp = ViewBag.list;
    var listsp = ViewBag.listsp;
    var listsp2 = ViewBag.listsp2;
    var news = ViewBag.news;
}
<p>Tổng số khách hàng truy cập: @ApplicationInstance.Application["Totaluser"]</p>
<div class="position-relative overflow-hidden p-5 text-center bg-main">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal" style="color: cornsilk;">BILUXURY</h1>
        <p class="lead font-weight-normal" style="color: cornsilk;">Biluxury cam kết mang lại giá trị đích thực và một cuộc sống thịnh vượng hơn cho phái mạnh Việt</p>
        <a class="btn btn-outline-secondary" href="/Home/About?">Xem thêm</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="card-group" style="margin-top: 50px;">
    @foreach (var item in listlsp)
    {
        <div class="card cards">
            <img src="@item.Image" class="card-img-top" alt="...">
            <div class="card-body text-lg-center">
                <h5 class="card-title">@item.TenLoaiSP</h5>
                <a href="@Url.Action("DsSP", "ViewSanPham", new { id = item.MaLoaiSP})" class="btn btn-outline-secondary">Xem thêm</a>
            </div>
        </div>
    }

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col" style="background-color: #000000; color: white; padding: 50px 15px;">
            <h2>BILUXURY - MAKE CHANGE</h2>
            <p>
                Biluxury được biết đến Là một trong những thương hiệu tiên phong thời trang dành cho mọi đàn ông Việt, Biluxury cũng đã, đang và sẽ có những thay đổi và phát triển ngày một hoàn thiện hơn để luôn mang lại những giá trị lớn cho khách
                hàng. Trong năm 2021, Biluxury nối tiếp hành trình đó với "𝐌𝐚𝐤𝐞 𝐜𝐡𝐚𝐧𝐠𝐞" - THAY ĐỔI ĐỂ THÀNH CÔNG. "Make change" là khi con người dám nghĩ , dám vượt lên trên cả nỗi sợ hãi của chính mình
                để có thể thành công. Với biểu tượng mới, và sự đổi mới trong màu sắc của logo Biluxury. Màu vàng là sắc màu của sự lạc quan, hạnh phúc, sáng tạo và tươi mới. Màu đen là biểu tượng
                của sữ vững chãi , kiên định và mạnh mẽ. Hai màu sắc tượng trưng cho sự vững vàng trong cốt cách con người, luôn hướng về sự tích cực với bản lĩnh và quyết tâm mạnh mẽ.
            </p>
            <img class="img-fluid" src="~/imgs/img2.png" alt="">
        </div>
        <div class="col">
            <img class="img-fluid" src="~/imgs/img3.png" alt="">
        </div>
    </div>
</div>

<div class="card-group" style="margin-top: 50px;">
    @foreach (var item in listsp)
    {
        <div class="card cards">
            <img src="@item.LinkAnh" class="card-img-top" alt="...">
            <div class="card-body text-lg-center">
                <div class="product-info">
                    <div class="product-title" style="font-size: small;">
                        <a class="a-product" href="@Url.Action("Detail", "ViewSanPham", new { id = item.MaSP })">@item.TenSP</a>
                    </div>
                    <div class="product-price">
                        @{
                            decimal gia = @item.Gia;
                            var result = gia.ToString("#,###");
                        }
                        <span class="current-price">@result &#8363;</span>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="button" onclick="location.href='@Url.Action("Detail", "ViewSanPham", new { id = item.MaSP })'" class="btn btn-dark"><i style="margin-right: 15px;" class="fas fa-eye"></i>Xem chi tiết</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="card-group" style="margin-top: 50px;">
    @foreach (var item in listsp2)
    {
        <div class="card cards">
            <img src="@item.LinkAnh" class="card-img-top" alt="...">
            <div class="card-body text-lg-center">
                <div class="product-info">
                    <div class="product-title" style="font-size: small;">
                        <a class="a-product" href="@Url.Action("Detail", "ViewSanPham", new { id = item.MaSP })">@item.TenSP</a>
                    </div>
                    <div class="product-price">
                        @{
                            decimal gia = @item.Gia;
                            var result = gia.ToString("#,###");
                        }
                        <span class="current-price">@result &#8363;</span>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="button" onclick="location.href='@Url.Action("Detail", "ViewSanPham", new { id = item.MaSP })'" class="btn btn-dark"><i style="margin-right: 15px;" class="fas fa-eye"></i>Xem chi tiết</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="div-new-1">
    <div class="container-fluid">
        <h2 style="text-align: center;">BILUXURY IN VIETNAM INTERNATIONAL FASHION WEEK</h2>
        <p class="section-desc" style="text-align: center;">Những dấu ấn nổi bật nhất của Biluxury tại sân chơi thời trang VIFW đã có màn ra mắt vô cùng ấn tượng với giới truyền thông và mộ điệu.</p>
        <div class="row" style="padding-top: 5px;">
            <div class="col" style=" color: black; padding: 0px 15px;">
                <p>
                    'Fashion & Beyond' - Show diễn thời trang Biluxury giới thiệu đến bạn những xu hướng mới nhất, tiệm cận nhất với làng mốt thế giới nhưng vẫn thể hiện chất riêng của Biluxury nhằm hướng tới một mục đích duy nhất: Mang đến những
                    sản phẩm hoàn hảo phù hợp với đàn ông Việt. Vừa đảm bảo sự kỹ lưỡng từng đường kim mũi chỉ trong thiết kế vừa sản xuất ổn định với số lượng lớn, đó là thế mạnh mà Biluxury tự tin không thua kém bất kỳ thương hiệu nào, kể cả
                    các hãng thời trang nước ngoài.
                </p>
            </div>
            <div class="col">
                <iframe width="730" height="488" src="https://www.youtube.com/embed/Ij-lQUAD0Tc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="div-new-2" style="padding-top: 50px;">
    <div class="container-fluid">
        <h2 style="text-align: center;">TIN TỨC THỜI TRANG</h2>
        <p class="section-desc" style="text-align: center;">Cập nhập những tin tức mới nhất về cách phối đồ, xu hướng thời trang, bản tin khuyến mại, khai trương,...</p>
        <div class="row">
            @foreach (var item in news)
            {
                <div class="col" style=" color: black; padding: 0px 15px;">
                    <div class="card">
                        <img src="@item.LinkAnh" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="product-info">
                                <div class="product-title">
                                    <a class="a-product a-new-title" href="@Url.Action("Detail", "ViewNews", new { id = item.ID })">@item.TieuDe</a>
                                </div>
                                <br>
                                <div class="new-price">
                                    <button class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Detail", "ViewNews", new { id = item.ID })'">Tìm hiểu thêm <i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
