<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <style>
        .nav-link {
            background-color: aquamarine;
        }

        .reset-padding {
            padding: 0;
        }

        #iframe-add-content {
            display: none;
        }

        .dropdown-menu {
            right: 0 !important;
            left: initial;
        }

        .on-more {
            display: none;
        }
    </style>

    <title>Quản lý BiLuxury</title>
</head>

<body>
    <nav style="position: relative;" class="navbar navbar-expand-sm border">
        <a class="navbar-brand" href="#" style="color: darkcyan;">Bi Luxury</a>
        <div style="position: absolute; right: 20px;" class="collapse navbar-collapse">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-user"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="EditProfile.html"><i class="fa fa-user" aria-hidden="true"> User profile</i></a>
                    <a class="dropdown-item" href="login.html"><i class="fas fa-sign-out-alt"> Logout</i></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 border reset-padding">
                <div class="input-group rounded" style="padding: 15px;">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <button type="button" class="btn btn-dark">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="list-group">
                    <button onclick="location.href='@Url.Action("Index", "News")'" class="list-group-item list-group-item-action"><i class="fas fa-table"></i> Quản lý bài viết</button>
                    <button onclick="location.href='@Url.Action("index", "QLSanPham")'" class="list-group-item list-group-item-action"><i class="far fa-edit"></i> Quản lý sản phẩm</button>
                    <button onclick="location.href='@Url.Action("index", "QLNhanVien")'" class="list-group-item list-group-item-action"><i class="far fa-user"></i> Quản lý nhân viên</button>
                    <button onclick="location.href='@Url.Action("index", "QLKhachHang")'" class="list-group-item list-group-item-action"><i class="fas fa-user-friends"></i> Quản lý khách hàng</button>
                    <button onclick="location.href='@Url.Action("index", "QLDonHang")'" class="list-group-item list-group-item-action"><i class="fas fa-file-invoice"></i> Đơn hàng</button>
                    <button onclick="location.href='@Url.Action("index", "QLKho")'" class="list-group-item list-group-item-action"><i class="fas fa-box-open"></i> Kho</button>
                    <button onclick="location.href='@Url.Action("index", "ThongKe")'" class="list-group-item list-group-item-action"><i class="fas fa-trophy"></i> Thống kê</button>
                    <button id="on-active" class="list-group-item list-group-item-action"><i class="fas fa-chevron-down"></i> Xem thêm...</button>
                    <button onclick="location.href='@Url.Action("index", "IMAGES")'" class="list-group-item list-group-item-action on-more"><i class="fas fa-photo-video"></i> Thư viện ảnh</button>
                    <button onclick="location.href='@Url.Action("index", "NhaCungCap")'" class="list-group-item list-group-item-action on-more"><i class="fas fa-building"></i> Nhà cung cấp</button>
                    <button onclick="location.href='@Url.Action("index", "LoaiSP")'" class="list-group-item list-group-item-action on-more"><i class="far fa-newspaper"></i> Loại sản phẩm</button>
                    <button onclick="location.href='@Url.Action("index", "Feedback")'" class="list-group-item list-group-item-action on-more"><i class="fas fa-comments"></i>Phản hồi từ khách hàng</button>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="main-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $("#on-active").click(function () {
                $(".fa-chevron-down").toggle("fast");
                $(".on-more").toggle("slow");
            });
        });
    </script>
</body>

</html>
