@model BILUXURY.Models.KHACHHANG

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LoyoutAdmin.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Thêm khách hàng</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Tên khách hàng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenKH, new { htmlAttributes = new { @class = "form-control col-md-4" } })
            @Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Ngày sinh", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control col-md-4", @type = "date" } })
            @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control col-md-4" } })
            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-md-4" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Giới tính", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="gioitinh" class="form-select col-md-4">
            <option selected>Chọn giới tính</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Phone", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control col-md-4" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    <button type="button" title="back" class="btn btn-warning" style="margin-top: 15px;" onclick="location.href='@Url.Action("Index", "QLKhachHang")'"><i class="fas fa-backward"></i> Trở về</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var GioiTinh = ["Nam", "Nữ", "Khác"];


        var ChonGioiTinh = document.getElementById("gioitinh");


        //Create and append the options in Country
        for (var i = 0; i < GioiTinh.length; i++) {
            var option = document.createElement("option");
            option.value = GioiTinh[i];
            option.text = GioiTinh[i];
            ChonGioiTinh.appendChild(option);
        }
    </script>
}
